<div class="about">

  <div class="container about-wrapper">

    <!-- EXPERIENCE -->
    <mat-card class="about-card experience">

      <div class="card-header">
<mat-icon class="icon">work_outline</mat-icon>
        <h3>Experience</h3>
      </div>

      <div class="card-body">

        <h4>
          Apps Software Specialist
          <span>(Sept 2025 - Present)</span>
        </h4>

        <span>Labcorp • Mumbai</span>

        <div class="divider"></div>

        <h4>
          Software Development Intern
          <span>(Feb 2025 - Aug 2025)</span>
        </h4>

        <span>Labcorp • Mumbai</span>

        <div class="divider"></div>

        <h4>
          Software Trainee
          <span>(Dec 2022 - Jan 2023)</span>
        </h4>

        <span>
          Shri Ram Murti Smarak Institutions • Bareilly
        </span>

      </div>

    </mat-card>

    <!-- EDUCATION -->
    <mat-card class="about-card education">

      <div class="card-header">
<mat-icon class="icon">school</mat-icon>
        <h3>Education</h3>
      </div>

      <div class="card-body">

        <h4>
          MCA
          <span>(Aug 2023 - July 2025)</span>
        </h4>

        <span>
          Vellore Institute of Technology, Bhopal M.P
        </span>

      </div>

    </mat-card>

  </div>

</div>