<div class="home">

  <div class="home-wrap"> <!-- like nav-wrap -->

    <div class="home-card container"> <!-- like nav-bar -->

      <div class="home-grid">

        <!-- LEFT CONTENT -->
        <div class="content">

          <div class="intro-row">
            <span class="dot"></span>
            <p class="intro">Hi, I’m</p>
          </div>

          <h1 class="name">
            <span #typingText></span>
            <span class="cursor">|</span>
          </h1>

          <div class="role-chip">
            Product-minded Developer • Angular • Spring Boot
          </div>

          <h2 class="tagline">
            I build systems that make complexity feel simple.
          </h2>

          <div class="divider"></div>

          <p class="desc">
            From dashboards to scalable applications, I transform ideas into
            structured, intuitive, and impactful digital products.
          </p>

          <div class="buttons">
            <button (click)="scrollToProjects()">View My Work</button>
            <button class="outline" (click)="downloadResume()">Download Resume</button>
          </div>

        </div>

        <!-- RIGHT VISUAL -->
        <div class="visual">
          <div class="profile-card">

            <!-- BIG IMAGE -->
            <div class="image-wrapper">
              <img src="mepng.png" alt="Medha" />
            </div>

            <!-- LOCATION -->
            <p class="location">📍 Bareilly,UP, India</p>
            <!-- EMAIL -->
            <a href="mailto:medhagupta312002@gmail.com" class="email">
              medhagupta312002@gmail.com
            </a>
            <!-- SOCIALS -->
            <div class="socials">

              <a href="https://github.com/medha-3102/" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
                <i class="fa-brands fa-github"></i>
              </a>

              <a href="https://www.linkedin.com/in/medha-gupta-5b6838185/" target="_blank" rel="noopener noreferrer"
                aria-label="LinkedIn">
                <i class="fa-brands fa-linkedin-in"></i>
              </a>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>